RewriteEngine on
RewriteCond $1 !^(index\.php|images|css|fonts|js|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

Options -Indexes
RewriteRule ^(.*)$ index.php/$1 [L]
  
<FilesMatch "\.(ini|json|log|sh|lock|env|sql|txt|xls)$">
Options -Indexes
Order allow,deny
Deny from all
</FilesMatch>

<IfModule mod_speling.c>
    CheckCaseOnly on
    CheckSpelling on
</IfModule>